node_modules
GargiMukherjeeNodeManageMyDeskProjectMMD-FrontEndpublic.npmrc
GargiMukherjeeNodeManageMyDeskProjectMMD-FrontEndpublicbs-config.cli.json
GargiMukherjeeNodeManageMyDeskProjectMMD-FrontEndpublicbs-config.json
.vscode